* {
  background-color: #373f51;
  font-family: -apple-system , 'Open Sans', sans-serif;
}

.home-session {
  color: #D8DBE2;
}

.home-session-texts {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 25%;
}

.home-session-title {
  font-size: 50px;
  margin: 0;
}

.home-session-paragraph {
  font-size: 125%;
  margin-top: 10px;
}

.home-session-photo {
  width: 20%;
  border: solid #D8DBE2;
  border-radius: 5%;
  box-shadow: 15px -10px #D8DBE2;
  position: absolute;
  top: 30%;
  right: 30%;
}